# If you have process chains and steps, and are going to change this,
# you should move the contents of the old storage directory to the new one
# so that process chains and steps can still find their files!

development:
  environment: development
  file_location: /wherever/you/want/your/ink_api_files/
test:
  environment: development
  file_location: /tmp/ink_api_files/test
production:
  environment: development
  file_location: /tmp/ink_api_files/
